<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>{{forum.name}}</h1>
<br>
{% if forum.private and forum.user_id == session.id %}
Lisää oikeuksia käyttäjälle nähdä tämä foorumi
<form action="/forum/{{forum.id}}/add_permission" method="POST">
    <input type="text" name="username" required>
    <br>
    <input type="submit" value="Lisää oikeus">
</form>
{% endif %}

<h3>Viestiketjut</h3>
<ul>
    {% for thread in threads %}
        <li>
            <a href="/forum/{{forum.id}}/thread/{{thread.id}}">{{thread.message}}</a>
            {% if session.is_admin or thread.user_created == session.id %}
            <form action="/delete" method="POST">
                <input type="hidden" name="type" value="thread">
                <input type="hidden" name="id" value="{{thread.id}}">
                <button type="submit">Poista</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<br>
<h5>Luo uusi viestiketju</h5>
<form action="/new_thread" method="POST">
    Viestiketjun aloitus: <textarea name="message" required></textarea>
    <br>
    <input type="hidden" name="forum_id" value="{{forum.id}}">
    <input type="submit" value="Luo uusi viestiketju">
</form>
<hr>

<h3>Hae viestiketjuja</h3>
<form action="/search_threads" method="GET">
    Hakusana: <input type="text" name="query" required>
    <br>
    <input type="hidden" name="forum_id" value="{{forum.id}}">
    <input type="submit" value="Hae">
</form>

{% endblock %}