<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h2>{{forum.name}}</h2>
<br>
<h3>Viestiketjut</h3>
<ul>
    {% for thread in threads %}
        <li>
            <a href="/forum/{{forum.id}}/thread/{{thread.id}}">{{thread.message}}</a>
        </li>
    {% endfor %}
</ul>
<br>
<h3>Luo uusi viestiketju</h3>
<form action="/new_thread" method="POST">
    Viestiketjun aloitus: <textarea name="message" required></textarea>
    <br>
    <input type="hidden" name="forum_id" value="{{forum.id}}">
    <input type="submit" value="Luo uusi viestiketju">
</form>
<hr>

<h3>Hae viestiketjuja</h3>
<form action="/search_threads" method="GET">
    Hakusana: <input type="text" name="query" required>
    <br>
    <input type="hidden" name="forum_id" value="{{forum.id}}">
    <input type="submit" value="Hae">
</form>

{% endblock %}