<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

{% if session.username %}
<h2>Foorumit</h2>
<ul>
    {% for forum in forums %}
        <li>
            <a href="/forum/{{forum.id}}">{{forum.name}}</a>
            {% if session.is_admin %}
            <form action="/delete" method="POST">
                <input type="hidden" name="type" value="forum">
                <input type="hidden" name="id" value="{{forum.id}}">
                <button type="submit" class="delete">Poista</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>

    {% if session.is_admin %}
    <h3><u>Uusi foorumi</u></h3>
    <form action="/new_forum" method="POST">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        Keskustelualueen nimi: <input type="text" name="name" maxlength="20" required>
        <br>
        Salainen: <input type="checkbox" name="private">
        <br>
        <input type="submit" value="Tee uusi alue">
    </form>
    {% endif %}
{% endif %}
{% endblock %}