<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

{% if session.username %}
<h2>Foorumit</h2>
<ul>
    {% for forum in forums %}
        <li>
            <a href="/forum/{{forum.id}}">{{forum.name}}</a>
        </li>
    {% endfor %}
</ul>

    {% if session.is_admin %}
    <h2>Uusi foorumi</h2>
    <form action="/new_forum" method="POST">
        Keskustelualueen nimi: <input type="text" name="name" required>
        <br>
        Salainen: <input type="checkbox" name="private">
        <br>
        <input type="submit" value="Tee uusi alue">
    </form>
    {% endif %}
{% endif %}
{% endblock %}