<!DOCTYPE html>

<head>
    <title>{% block title %}Keskustelusovellus X.0{% endblock %}</title>
</head>
<body>
    <header>
        {% if session.username %}
        <p> Tervetuloa keskustemaan muiden kanssa, {{session.username}}</p>
            <a href="/">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
        
        
        {% else %}
            <a href="/login">Kirjaudu sisään</a> | <a href="/register">Rekisteröidy </a>
        {% endif %}
    
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>